@model List<OA.DTO.Medicines.MedicinesDTO>
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4>Medicines management</h4>
                    <div class="page-title-right">
                        <a href="@Url.Action("New", "Medicines")" class="btn btn-outline-info">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Updated date</th>
                            <th>Price</th>
                            <th>Price input</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Code</td>
                                    <td>@item.Name</td>
                                    <td>@item.NgayNhap.ToString("dd.MM.yyyy")</td>
                                    <td>@String.Format(info, "{0:c0}", item.GiaBan)</td>
                                    <td>@String.Format(info, "{0:c0}", item.GiaNhap)</td>
                                    <td>
                                        @item.Quantity
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","Medicines", new { Id = item.Id })" role="button" class="px-2 text-primary" data-toggle="tooltip" data-placement="bottom" title="Update information">
                                        <i class="uil uil-pen font-size-18"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="ConfirmSwalMessage('@string.Format("Do you want delete <br/> [{0}]", item.Name)','', 'Agree', 'Hủy','@Url.Action("Destroy", "Medicines", new { Id = item.Id })')" class="px-2 text-danger" data-toggle="tooltip" data-placement="bottom" title="Delete information">
                                        <i class="uil uil-trash-alt font-size-18"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>