@model List<OA.DTO.Recipiences.RecipienceViewDTO>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4>
                        Manage prescriptions
                    </h4>
                    <div class="page-title-right">
                        <a href="@Url.Action("New", "Recipience")" class="btn btn-outline-info">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>.NO</th>
                            <th>
                                Prescriptions
                            </th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            int index=1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@index</td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>  
                                    <td>
                                        <a href="@Url.Action("Edit","Recipience", new { Id = item.Id })" role="button" class="px-2 text-primary" data-toggle="tooltip" data-placement="bottom" title="Update information">
                                            <i class="uil uil-pen font-size-18"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="ConfirmSwalMessage('@string.Format("Do you want delete <br/> [{0}]", item.Name)','', 'Agree', 'Hủy','@Url.Action("Destroy", "Recipience", new { Id = item.Id })')" class="px-2 text-danger" data-toggle="tooltip" data-placement="bottom" title="Delete information">
                                            <i class="uil uil-trash-alt font-size-18"></i>
                                        </a>
                                    </td>
                                </tr>
                                index = index + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>